.App {
    min-height: 100vh;
    background-color: #ecf4f3;
}

.search-form{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #68b0ab;
}

.search-bar {
    width: 20%;
    border: none;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;

}

.search-button {
    background: #ff7e67;
    border:none;
    padding: 10px 20px;
    border-radius: 0px 10px 10px 0px;
}

.Recipes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
